@{
    ViewData["Title"] = "Danh sách nhân viên/người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <link href="https://cdn.datatables.net/2.1.8/css/dataTables.bootstrap5.css" rel="stylesheet" />

}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@(ViewData["Title"])</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">@(ViewData["Title"])</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-2">
                        <p>Vai trò</p>
                        <select class="form-control" id="ddl-role">
                            <option value="All">Tất cả</option>
                            <option value="Admin">Quản trị</option>
                            <option value="Manager">Quản lý</option>
                            <option value="Accountant">Kế toán</option>
                            <option value="Sale">NV thu tiền</option>
                        </select>
                    </div>
                    <div class="col-sm-2">
                        <p>Trạng thái</p>
                        <select class="form-control" id="ddl-status">
                            <option value="Active">Đang hoạt động</option>
                            <option value="InActive">Ngưng hoạt động</option>
                            <option value="All">Tất cả</option>
                        </select>
                    </div>
                    <div class="col-sm-4">
                        <p>Từ khoá</p>
                        <input type="text" class="form-control" id="txtkeyword" />
                    </div>
                    <div class="col-sm-1">
                        <button id="btn-search" class="btn btn-primary btn-filter"><i class="fa fa-search"></i></button>
                    </div>
                    <div class="col-sm-3 text-right">
                        <input type="button" value="Export" class="btn btn-success btn-filter" />&nbsp;
                        <input type="button" value="Import" class="btn btn-success btn-filter" />
                    </div>
                </div>
            </div>
            <table id="table-userinfo" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Mã người dùng</th>
                        <th>Tên người dùng</th>
                        <th>Điện thoại</th>
                        <th>Email</th>
                        <th>Vai trò</th>
                        <th>Chức danh</th>
                        <th>Tên đăng nhập</th>
                        <th>Trạng thái</th>
                    </tr>
                </thead>
            </table>
        </div>
        
    </div>
</div>

@section scripts{
    <script src="~/admin-template/plugins/datatable-bootstrap5/datatables.min.js"></script>





    <script>


        var tableId = "#table-userinfo";
        var ajaxURL = "/Account/SearchUserInfoAction";
        var columnData = [
            {
                "data": "id", "render": function (data, type, row, meta) {
                    return RenderTableAction(data);
                }
            },
            {
                "data": "code", "render": function (data, type, row, meta) {
                    return RenderUserCode(data);
                }
            },
            { "data": "fullName" },
            { "data": "phone" },
            { "data": "email" },
            { "data": "roleCode" },
            { "data": "title" },
            { "data": "loginName" },
            {
                "data": "isActive", "render": function (data, type, row, meta) {
                    return RenderActiveDesc(data);
                }
            },


        ];


        $(document).ready(function () {


            SearchUserInfo();
            $("#btn-search").click(function () {
                SearchUserInfo();
            });

        });


        function RenderTableAction(userId) {
            debugger;
            var html = "<div class='div-table-action'><i class='fa fa-edit' onclick='GotoUserDetail(" + userId + ")'></i></div>";
            return html;
        }
        function RenderActiveDesc(isActive) {
            if (isActive) {
                return "Hoạt động";
            } else if (!isActive) {
                return "Ngưng hoạt động";
            } else { 
                return "N/A";
            }
        }
        function RenderUserCode(userCode) {
            return "<i class='fa fa-user'></i>&nbsp;" + userCode
        }
        function SearchUserInfo() {

            var dataSearch = {
                roleCode: $("#ddl-role").val(),
                status: $("#ddl-status").val(),
                yeyword: $("#txtkeyword").val()
            };
            GenrateDataTableSearch(tableId, ajaxURL, columnData, dataSearch);

        }
        function GotoUserDetail(userId) {
            location.href = "/account/UserAccountDetail/" + userId;
        }
    </script>
}